<div>
  <h2>Modifier la formation</h2>

  <div *ngIf="errorMsg" style="color:red">{{ errorMsg }}</div>

  <label>Titre :</label>
  <input type="text" [(ngModel)]="titre" />

  <label>Domaine :</label>
  <input type="text" [(ngModel)]="domaine" />

  <label>Description :</label>
  <textarea [(ngModel)]="description"></textarea>

  <label>Date début :</label>
  <input type="date" [(ngModel)]="dateDebut" />

  <label>Date fin :</label>
  <input type="date" [(ngModel)]="dateFin" />

  <label>Places minimales :</label>
  <input type="number" [(ngModel)]="minPlace" />

  <label>Places maximales :</label>
  <input type="number" [(ngModel)]="maxPlace" />

  <button (click)="onSubmit()">Enregistrer</button>
</div>

